<%= form_for @order, :html => { :class => "form-vertical" } do |f| %>
  <% if @order.errors.any? %>
    <div class="alert alert-error">
			<a class="close" data-dismiss="alert" href="#">×</a>
      <h4 class="alert-heading">Oh snap! We got <%= pluralize(@order.errors.count, "problem") %> here. Fix them and we're fine.</h4>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<fieldset>
		<div class="control-group">
    	<%= f.label :first_name, :class => "control-label" %>
    	<div class="controls">
    		<%= f.text_field :first_name, :class => "input-xlarge" %>
    	</div>
		</div>
		
		<div class="control-group">
    	<%= f.label :last_name, :class => "control-label" %>
    	<div class="controls">
    		<%= f.text_field :last_name, :class => "input-xlarge" %>
    	</div>
		</div>
		
		<div class="control-group">
    	<%= f.label :phone, :class => "control-label" %>
    	<div class="controls">
    		<%= f.text_field :phone, :class => "input-medium" %>
    	</div>
		</div>
		
		<div class="control-group">
    	<%= f.label :email, :class => "control-label" %>
    	<div class="controls">
    		<%= f.text_field :email, :class => "input-medium" %>
    	</div>
		</div>
		
		<div class="control-group">
    	<%= f.label :address, :class => "control-label" %>
    	<div class="controls">
    		<%= f.text_field :address, :class => "input-medium" %>
    	</div>
		</div>
		
		<div class="control-group">
    	<%= f.label :city, :class => "control-label" %>
    	<div class="controls">
    		<%= f.text_field :city, :class => "input-medium" %>
    	</div>
		</div>
		
		<div class="control-group">
    	<%= f.label :zip, "Postcode", :class => "control-label" %>
    	<div class="controls">
    		<%= f.text_field :zip, :class => "input-small" %>
    	</div>
		</div>
		
		<div class="control-group">
    	<%= f.label :payment_method, "Payment Method", :class => "control-label" %>
    	<div class="controls">
    		<%= f.select :payment_method, [["Swedbank", "swedbank"], ["SEB", "seb"], ["Sampo Pank", "sampo"]] %>
    	</div>
		</div>
		
		<div class="control-group">
    	<%= f.label :shipping_method, "Delivery Method", :class => "control-label" %>
    	<div class="controls">
    		<%= f.select :shipping_method, [["SmartPost", "smartpost"], ["Free Delivery (Tallinn)", "free_tallinn"], ["Pick-up myself", "self_pickup"]] %>
    	</div>
		</div>
		
		<div class="control-group">
    	<%= f.label :comment, :class => "control-label" %>
    	<div class="controls">
    		<%= f.text_area :comment, :class => "input-xlarge", :rows => 5 %>
    	</div>
		</div>
		
		<div class="form-actions">
    	<%= f.submit "Start Payment", :class => "btn btn-primary" %>
		</div>
	</fieldset>
<% end %>
