<div class="span9">
	<h1><%= t 'headers.orders' %></h1>
	<hr>
	<table class="table table-striped table-bordered" id="datatable-orders">
	  <thead>
	  	<tr>
				<th>#</th>
		    <th><%= t 'labels.customer' %></th>
		    <th><%= t 'labels.payment_method' %></th>
		    <th><%= t 'labels.delivery_method' %></th>
		    <th><%= t 'labels.status' %></th>
				<th><%= t 'labels.date' %></th>
				<th><%= t 'labels.amount' %></th>
		  </tr>
	  </thead>
		<tbody>
	<% @orders.each do |order| %>
	  <tr>
			<td><%= link_to "##{order.id}", order_path(order) %></td>
	    <td>
				<%= order.full_name %><br>
				<%= order.phone %><br>
				<%= order.email %><br>
				<%= order.full_address %>
			</td>
	    <td><%= order.payment_method.name %></td>
	    <td><%= order.delivery_method.name %></td>
	    <td><%= order.status %></td>
			<td><%= l order.created_at %></td>
			<td><%= number_to_currency(order.total_price) %></td>
	  </tr>
	<% end %>
		</tbody>
	</table>

	
</div>