<div class="span9">
	<h1>Listing orders</h1>

	<table>
	  <tr>
	    <th>Name</th>
	    <th>Phone</th>
	    <th>Email</th>
	    <th>Address</th>
	    <th>Payment method</th>
	    <th>Shipping method</th>
	    <th>Comment</th>
	    <th>Status</th>
	    <th>Cart</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>

	<% @orders.each do |order| %>
	  <tr>
	    <td><%= order.full_name %></td>
	    <td><%= order.phone %></td>
	    <td><%= order.email %></td>
	    <td><%= order.full_address %></td>
	    <td><%= order.payment_method.name %></td>
	    <td><%= order.delivery_method.name %></td>
	    <td><%= order.comment %></td>
	    <td><%= order.status %></td>
	    <td><%= order.cart_id %></td>
	    <td><%= link_to 'Show', order %></td>
	    <td><%= link_to 'Edit', edit_order_path(order) %></td>
	    <td><%= link_to 'Destroy', order, confirm: 'Are you sure?', method: :delete %></td>
	  </tr>
	<% end %>
	</table>

	
</div>