<table class="table table-cart">
	<thead>
		<tr>
			<th class="cell-100px"></th>
			<th></th>
			<th class="cell-80px"><%= Product.human_attribute_name(:price) %></th>
			<th class="cell-80px"><%= LineItem.human_attribute_name(:quantity) %></th>
			<th class="cell-100px"><%= LineItem.human_attribute_name(:total_price) %></th>
			<th></th>
		</tr>
	</thead>
	<%= render :partial => 'line_items/cart_item', :collection => @line_items %>
	<tr class="lead">
		<td colspan="4"><span class="pull-right"><%= Cart.human_attribute_name(:total_price) %>:</span></td>
		<td><%= number_to_currency(@cart.total_price) %></td>
		<td></td>
	</tr>
</table>