<div class="span9">
	<h1><%= t 'carts.items_in_your_cart', :count => @cart.total_items %></h1>
	<hr>
	<%= render @cart %>
	<%= link_to @cart, :method => :delete, :class => "btn" do %>
		<%= content_tag(:i, "", :class => "icon-trash") %> <%= t '.clear_cart' %>
	<% end %>
	<%= link_to new_order_path, :class => "btn btn-success" do %>
		<%= content_tag(:i, "", :class => "icon-shopping-cart icon-white") %> <%= t '.start_checkout' %>
	<% end %>
</div>