<div class="span9">
	<h1><%= pluralize(@cart.total_items, "Item") %> in Your Cart</h1>
	<hr>
	<%= render @cart %>
	<%= link_to @cart, :method => :delete, :class => "btn" do %>
		<%= content_tag(:i, "", :class => "icon-trash") %> Cancel
	<% end %>
	<%= link_to new_order_path, :class => "btn btn-success" do %>
		<%= content_tag(:i, "", :class => "icon-shopping-cart icon-white") %> Checkout
	<% end %>
</div>