<%= form_for @brand, :html => { :class => "form-vertical" } do |f| %>
<% if @brand.errors.any? %>
  <div class="alert alert-error">
		<a class="close" data-dismiss="alert" href="#">×</a>
    <h4 class="alert-heading"><%= t('errors.template.header', :count => @brand.errors.count) %></h4>

    <ul>
    <% @brand.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<fieldset>	
	<div class="control-group">
  	<%= f.label :name, :class => "control-label" %>
  	<div class="controls">
  		<%= f.text_field :name, :class => "span5" %>
  	</div>
	</div>
	
	<div class="control-group">
  	<%= f.label :description, :class => "control-label" %>
  	<div class="controls">
  		<%= f.text_area :description, :rows => 10, :class => "span5"  %>
  	</div>
	</div>
	
	<div class="control-group">
  	<div class="controls">
  		<%= f.submit t('buttons.save'), :class => "btn btn-large btn-success" %>
			<%= link_to t('buttons.back_to_list'), brands_url, :class => "btn btn-large" %>
  	</div>
	</div>
</fieldset>
<% end %>
