<div class="span9">
	<h1><%= t 'headers.brands' %></h1>
	<hr>
	<p><%= link_to t('buttons.new'), new_brand_path, :class => "btn" %></p>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
		    <th class="span2"><%= Brand.human_attribute_name(:name) %></th>
		    <th><%= Brand.human_attribute_name(:description) %></th>
		    <th class="span1"></th>
		  </tr>
		</thead>
		<tbody>
	<% @brands.each do |brand| %>
	  	<tr>
		    <td><%= link_to brand.name, edit_brand_path(brand) %></td>
		    <td><%= brand.description %></td>
		    <td><%= link_to t('buttons.destroy'), brand, confirm: 'Are you sure?', method: :delete, :class => "btn btn-mini btn-danger" %></td>
		  </tr>
	<% end %>
		</tbody>
	</table>
</div>