<div class="span9">
	<% if notice %>
		<div class="alert alert-info">
			<a class="close" data-dismiss="alert" href="#">×</a>
			<%= notice %>
		</div>
	<% end %>
	<h1>Brands</h1>

	<table class="table">
		<thead>
			<tr>
		    <th class="span2">Name</th>
		    <th>Description</th>
		    <th class="span2"></th>
		  </tr>
		</thead>
		<tbody>
	<% @brands.each do |brand| %>
	  	<tr>
		    <td><%= brand.name %></td>
		    <td><%= brand.description %></td>
		    <td>
					<%= link_to "Edit", edit_brand_path(brand), :class => "btn" %> 
					<%= link_to "Delete", brand, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %>
				</td>
		  </tr>
	<% end %>
		</tbody>
	</table>
	<%= link_to 'New Brand', new_brand_path, :class => "btn" %>
</div>