<%= form_for @category, :html => { :class => "form-vertical" } do |f| %>
<% if @category.errors.any? %>
  <div class="alert alert-error">
		<a class="close" data-dismiss="alert" href="#">×</a>
    <h4 class="alert-heading">Oh snap! We got <%= pluralize(@category.errors.count, "problem") %> here. Fix them and we're fine.</h4>

    <ul>
    <% @category.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<fieldset>	
	<div class="control-group">
  	<%= f.label :name, :class => "control-label" %>
  	<div class="controls">
  		<%= f.text_field :name, :class => "span5" %>
  	</div>
	</div>
	
	<div class="control-group">
  	<%= f.label :description, :class => "control-label" %>
  	<div class="controls">
  		<%= f.text_area :description, :rows => 10, :class => "span5"  %>
  	</div>
	</div>
	
	<div class="control-group">
  	<div class="controls">
  		<%= f.submit "#{t :form_save}", :class => "btn btn-large" %>
  	</div>
	</div>
</fieldset>
<% end %>
