<div class="span9">
	<% if notice %>
		<div class="alert alert-info">
			<a class="close" data-dismiss="alert" href="#">×</a>
			<%= notice %>
		</div>
	<% end %>
	<h1>Categories</h1>

	<table class="table">
		<thead>
			<tr>
		    <th class="span2">Name</th>
		    <th>Description</th>
		    <th class="span2"></th>
		  </tr>
		</thead>
		<tbody>
	<% @categories.each do |category| %>
	  	<tr>
		    <td><%= category.name %></td>
		    <td><%= category.description %></td>
		    <td>
					<%= link_to "Edit", edit_category_path(category), :class => "btn" %> 
					<%= link_to "Delete", category, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %>
				</td>
		  </tr>
	<% end %>
		</tbody>
	</table>
	<%= link_to 'New Category', new_category_path, :class => "btn" %>
</div>