<%= form_for @product, :html => { :class => "form-vertical", :multipart => true } do |f| %>
  <% if @product.errors.any? %>
    <div class="alert alert-error">
			<a class="close" data-dismiss="alert" href="#">×</a>
      <h4 class="alert-heading"><%= t('errors.template.header', :count => @product.errors.count) %></h4>
      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
		<fieldset>			
			<div class="control-group">
	    	<div class="controls">
					<div class="thumbnail">
						<%= image_tag @product.picture.url(:medium) %>
					</div>
	    	</div>
			</div>
			
			<div class="control-group">
	    	<div class="controls">
	    		<%= f.file_field :picture %>
	    	</div>
			</div>
			
			<div class="control-group">
	    	<%= f.label :category, :class => "control-label" %>
	    	<div class="controls">
	    		<%= collection_select(:product, :category_id, @categories, :id, :name, {:prompt => true })  %>
	    	</div>
			</div>
		
			<div class="control-group">
	    	<%= f.label :brand, :class => "control-label" %>
	    	<div class="controls">
	    		<%= collection_select(:product, :brand_id, @brands, :id, :name, {:prompt => true })  %>
	    	</div>
			</div>
			
			<div class="control-group">
	    	<%= f.label :title, :class => "control-label" %>
	    	<div class="controls">
	    		<%= f.text_field :title, :class => "span5" %>
	    	</div>
			</div>
			
			<div class="control-group">
	    	<%= f.label :description, :class => "control-label" %>
	    	<div class="controls">
	    		<%= f.text_area :description, :rows => 10, :class => "span5"  %>
	    	</div>
			</div>
			
			<div class="control-group">
	    	<%= f.label :price, :class => "control-label" %>
	    	<div class="controls">
	    		<%= f.text_field :price, :class => "input-small" %>
	    	</div>
			</div>

			<div class="control-group">
	    	<div class="controls">
	    		<%= f.submit t('buttons.save'), :class => "btn btn-large btn-success" %>
					<%= link_to t('buttons.back_to_list'), products_url, :class => "btn btn-large" %>
					<%= link_to t('buttons.show'), @product, :class => "btn btn-large" unless @product.new_record? %>
	    	</div>
			</div>
		</fieldset>
<% end %>