<%= form_for @product, :html => { :class => "form-vertical", :multipart => true } do |f| %>
  <% if @product.errors.any? %>
    <div class="alert alert-error">
			<a class="close" data-dismiss="alert" href="#">×</a>
      <h4 class="alert-heading">Oh snap! We got <%= pluralize(@product.errors.count, "problem") %> here. Fix them and we're fine.</h4>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
		<fieldset>			
			<div class="control-group">
	    	<div class="controls">
				<div class="thumbnail">
					<%= image_tag @product.picture.url(:medium) %>
				</div>
	    	</div>
			</div>
			
			<div class="control-group">
	    	<div class="controls">
	    		<%= f.file_field :picture %>
	    	</div>
			</div>
			
			<div class="control-group">
	    	<%= f.label :category, :class => "control-label" %>
	    	<div class="controls">
	    		<%= collection_select(:product, :category_id, @categories, :id, :name, {:prompt => false })  %>
	    	</div>
			</div>
		
			<div class="control-group">
	    	<%= f.label :brand, :class => "control-label" %>
	    	<div class="controls">
	    		<%= collection_select(:product, :brand_id, @brands, :id, :name, {:prompt => false })  %>
	    	</div>
			</div>
			
			<div class="control-group">
	    	<%= f.label :title, :class => "control-label" %>
	    	<div class="controls">
	    		<%= f.text_field :title, :class => "input-xlarge" %>
	    	</div>
			</div>
			
			<div class="control-group">
	    	<%= f.label :description, :class => "control-label" %>
	    	<div class="controls">
	    		<%= f.text_area :description, :rows => 10, :class => "input-xlarge"  %>
	    	</div>
			</div>
			
			<div class="control-group">
	    	<%= f.label :price, :class => "control-label" %>
	    	<div class="controls">
	    		<%= f.text_field :price, :class => "input-small" %>
	    	</div>
			</div>

			<div class="form-actions">
	    	<%= f.submit :class => "btn btn-primary" %>
			</div>
		</fieldset>
<% end %>