<tr>
	<td><%= image_tag(order_item.product.picture.url(:small), :width => "100") %></td>
	<td><%= "#{order_item.product.brand.name} #{order_item.product.title}"%></td>
	<td><%= number_to_currency(order_item.product.price) %></td>
	<td>&times; <%= order_item.quantity %></td>
	<td><%= number_to_currency(order_item.total_price) %></td>
</tr>